.container {
    background-color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-box {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}